
html, body {
  height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;

}
/* background color */
body {
    background-color: lightblue;
  }

img.pill {
    height: 4rem;
}

#logo {
  max-height: 12rem;
}




@media only screen and (max-width: 600px) {
  .modal-content {
    max-width: 80vw;
  }
}

.letter-box {
  display: inline-block;
  border: #333 solid 2px;
  height: 100px;
  width: 50px;
  border-radius: 15px;
  margin: .2rem;
  position: relative;
}

span.draggableLetters {
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  bottom: 0;
}
@media only screen and (max-width: 600px) {
  .letter-box {
    height: 70px;
    width: 30px;
    margin: .1rem;
    border-radius: 5px;
  }
}


@media only screen and (max-width: 400px) {

  .letter-box {
    height: 70px;
    width: 30px;
    margin: 0;
    border-radius: 1px;
  }
}

.dragging {
  border: darkblue 1px solid;
}

.enabled {
  background-color: green;
  color: white;
}

.correct {
  border: green 1px solid;

}

.incorrect {
  border: red 1px solid;
}

#lives {
  color: red;
}